/*the css is built with references from lunospace neocities*/

/* @font-family{
  font-family:"w95";
  font:url("/fonts/PixelOperator.ttf");
} */
@import "tailwindcss";


:root{
  --contrastbg:#EAE1CC;
  --lightest:#EAE1CC;
  --light:#acbcae;
  --mid:#78a185;
  --shadow:#768677;
  --dark:#4a564a;
  --darkest:#191f19;
}

@font-face {
  font-family: "w95";
  src: url("/fonts/PixelOperator.ttf") format("truetype");
}

html{
  cursor:url("/images/cursor.png"),auto;
}


.result-item{
  padding:10px;
}

.result-item:hover{
  background:var(--light);
}

.chat-input{
  display:flex;
  gap:10px;
}

.flex-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


::-webkit-scrollbar{
  width:14px;
}

::-webkit-scrollbar-thumb{
  background:var(--light);
  border:2px solid var(--dark);
}

/*MOBILE*/
@media(max-width:600px){

  body{
    align-items:stretch;
  }

  .window{
    width:100%;
    height:100vh;
    border:none;
    box-shadow:none;
  }

  .window-body{
    flex:1;
  }

}